# Configurações de Banco de Dados (Supabase)
# Formato: postgresql+asyncpg://usuario:senha@host:porta/nome_do_banco
DATABASE_URL=postgresql+asyncpg://postgres:sua_senha_aqui@localhost:5432/postgres

# Configurações de Cache (Redis)
REDIS_URL=redis://redis:6379/0

# Configurações de Segurança
JWT_SECRET=mudar_isso_em_producao
ACCESS_TOKEN_EXPIRE_MINUTES=43200

# Outras Configurações
ENVIRONMENT=production
